<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('https://cdn-images-1.medium.com/max/1000/1*V9GdNPhBPL0p-wgL3hMdwQ.png')">
        <div class="carousel-caption ">
          <p class="h3"><%= t ".title_silder1" %></p>
          <p><%= t ".title_content1" %></p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://cdn-images-1.medium.com/max/1000/1*V9GdNPhBPL0p-wgL3hMdwQ.png')">
        <div class="carousel-caption">
          <p class="h3"><%= t ".title_silder1" %></p>
          <p><%= t ".title_content1" %></p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://cdn-images-1.medium.com/max/1000/1*V9GdNPhBPL0p-wgL3hMdwQ.png')">
        <div class="carousel-caption ">
                    <p class="h3"><%= t ".title_silder1" %></p>
          <p><%= t ".title_content1" %></p>
        </div>
      </div>
      <%= render("layouts/messages") %>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"><%= t ".next" %></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"><%= t ".previous" %></span>
    </a>
  </div>
</header>

<div class="container fix-padding8">
  <div class="space-80"></div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="text-left">
        <p class="title-list">
          <%= t ".just_add" %>
        </p>
        <hr>
       <div class="row justify-content-center">
        <%= render partial: "books/book", collection: @new_books, as: :book %>
       </div>
      </div>
    </div>
  </div>
  <div class="space-80"></div>
</div>

<div id="about" class="container">
  <div class="space-80"></div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="text-left">
        <p class="title-list">
         <%= t ".about" %>
        </p>
        <hr>
        <p><%= t ".about_detail" %></p>
      </div>
    </div>
  </div>
  <div class="space-80"></div>
</div>

<div id="contact" class="bg-gray container">
  <div class="space-80"></div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="text-left">
        <p class="title-list">
          <%= t ".contact" %>
        </p>
        <hr>
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-4">
            <div class="card text-white bg-info mb-3">
              <div class="card-header">
                <%= t ".info" %>
              </div>
              <div class="card-body">
                <div class="text-left">
                  <p>
                    <span class="mr-1"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <%= t ".info" %>
                  </p>
                  <p>
                    <span class="mr-1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                    <%= t ".email" %>
                  </p>
                  <p>
                    <span class="mr-1"><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <%= t ".phone" %>
                  </p>
                  <p>
                    <span class="mr-1"><i class="fa fa-globe" aria-hidden="true"></i></span>
                    <%= t ".web" %>
                  </p>
                </div>
              </div>
            </div>
          </div>
           <div class="col-sm-12 col-md-6">
              <div class="mapouter">
                <div class="gmap_canvas">
                  <div class="text-center">
                    <iframe width="400" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=hanoi%20framgia&t=&z=15&ie=UTF8&iwloc=&output=embed" 
                      frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                    </iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space-80"></div>
</div>
