<tr>
  <th scope="row"><%= borrow.id %></th>
  <td><%= borrow.user.name %></td>
  <td><%= borrow.user.email %></td>
  <td><%= borrow.start_date %></td>
  <td><%= borrow.end_date %></td>
  <td><%= borrow.approve %></td>
</tr>
