<div class="col-sm-6 col-md-4 col-lg-2 fix-padding8">
  <div class="card book-card">
    <%= link_to  book_path(book) do %>
      <%= image_tag book.image, class: "card-img-top" %>
    <% end %>
    <div class="card-body fix-padding8">
      <div class="home-book-title text-left">
        <%= book.name %>
      </div>
      <div class="home-book-author text-left">
       <span><%= t ".by" %></span>
        <% book.authors.each do |author| %>
          <span>
            <%= link_to author_path(author.id) do %> 
              <%= author.name %>
            <% end %>
          </span>
        <% end %>
      </div>
      <div>
      <% if book.can_borrow? %>
        <% if user_signed_in? && current_user.borrows.check_approve(false).first.present? %>
          <%= link_to t(".borrow"), add_book_borrow_path(id: book.id), class: "btn btn-primary btn-sm", method: :get, remote: true %>
        <% else %>
          <%= link_to t(".borrow"), new_borrow_path(id: book.id), class: "btn btn-primary btn-sm", method: :get, remote: true %>
        <% end %>
        <span class="text-success"><%= t ".available" %></span>
      <% else %>
        <span class="text-warning"><%= t ".unavailable" %></span>
      <% end %>
      </div>
    </div>
  </div>
</div>
