<div class="col-sm-6 col-md-4 col-lg-2 fix-padding8">
  <div class="card book-card">
    <%= link_to  book_path(book) do %>
      <%= image_tag book.image, class: "card-img-top" %>
    <% end %>
    <div class="card-body fix-padding8">
      <div class="home-book-title text-left">
        <%= book.name %>
      </div>
      <div class="home-book-author text-left">
       <span>by </span>
        <% book.authors.each do |author| %>
          <span><%= author.name %></span>
        <% end %>
      </div>
     <div><a href="#" class="borrow-link"><%= t ".borrow" %></a></div>
    </div>
  </div>
</div>
