<div class="container mt-4 pt-4">
  <div class="row justify-content-center">
    <div class="col-md-10 col-sm-12">
      <div class="product-page">
        <div class="row">
          <!-- image book -->
          <div class="col-md-4 col-sm-6">
            <div class="card">
              <%= image_tag(@book.image || Settings.books.show.default_image, class: "card-img-top") %>
              <div class="card-body">
                <div class=" text-center">
                  <%= social_share_button_tag() %>
                </div>
              </div>
            </div>
          </div>
          <!-- close image book -->
          <!-- content info book -->
          <div class="col-md-8 col-sm-6">
            <h1><%= t ".cool_green" %></h1>
            <div class="price-availability-block clearfix">
              <div class="author">
                <strong><span><%= t ".author" %></span>
                <% @book.authors.each do |author|%>
                  <%= author.name %>
                <%  end %>
                </strong>
              </div>
              <div class="availability">
                <% if @book.can_borrow? %>
                  <%= t ".status" %><strong><%= t ".availability" %></strong>
                <% else %>
                  <%= t ".status" %><strong><%= t ".unavailability" %></strong>
                <% end %>
              </div>
            </div>
            <div class="description">
              <% if @book.description %>
                <p><%= @book.description.truncate_words(Settings.books.show.words) %></p>
              <% end %>
            </div>
            <div class="product-page-cart">    
              <% if @book.can_borrow? %>
                <% if user_signed_in? && current_user.borrows.check_approve(false).first.present? %>
                  <%= link_to t(".borrow"), add_book_borrow_path(id: @book.id), class: "btn btn-default", method: :get, remote: true %>
                <% else %>
                  <%= link_to t(".borrow"), new_borrow_path(id: @book.id), class: "btn btn-default", method: :get, remote: true %>
                <% end %>
              <% else %>
                <%= t(".unavailability") %>
              <% end %>
            </div>
            <div class="review">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <%= link_to  like_book_path(id: @book.id), method: :post, remote: true, class: "ml-10" do %>
                <i class="fa fa-thumbs-up" aria-hidden="true"></i><strong id="quantity_like_<%= @book.id %>">
                  <%= @book.votes_for.size %>
                </strong>
              <% end %>
              <%= link_to follow_book_path(id: @book.id), class: "btn btn-primary", method: :post, remote: true do %>
              <%= t ".follow_book" %><strong id="quantity_follow_book_<%= @book.id %>"><%= @book.followers_count %></strong>
              <% end %>
            </div>       
          </div>
          <!-- close content info book -->
        </div>
      </div>
      <div class="space-80"></div>
      <ul class="nav nav-tabs" id="bookTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><%= t ".comment" %></a>
        </li>
      </ul>
      <div class="tab-content" id="bookTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <!-- comment box-->
          <div id="commentForm">
            <%= render "comments/form" %>
          </div>
          <div id="commentPage">
            <%= paginate @comments, theme: "twitter-bootstrap-4", pagination_class: "pagination-md float-right", remote: true %>
            <div class="clearfix"></div>
          </div>
          <div id="commentBox">
            <%= render partial: "comments/comment", collection: @comments %>
          </div>
          <div id="commentPage">
            <%= paginate @comments, theme: "twitter-bootstrap-4", pagination_class: "pagination-md float-right", remote: true %>
          </div>
          <!-- close comment box-->
        </div>
      </div>
    </div>
  </div>
</div>
