<div>
  <input type="checkbox" class="ckcategory" value="<%= filter_category[0][0] %>" 
  id="<%= filter_category[0][0] %>" name="category">
  <label for="<%= filter_category[0][0] %>">
    <%= filter_category[0][1] %>
  </label>
  <span class="float-right">
    <%= filter_category[1] %>
  </span>
</div>
